.ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;
        text-align: right;
        background-color: #373737;
        font-weight: 200;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
          position: fixed;
          top: 0;
          width: 100%;
      }

      li {display: inline-block;}

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to olive on hover */
      li a:hover {
        background-color: olive;
      }

      .h1 {font-family: 'Protest Riot', sans-serif;
           font-size: 55px;
           font-weight: 600;
           padding-top: 5%;
           padding-right: 50%;
           margin-left: 10%;
           color: black; }
